.header-container {
    width: 100%;
    height: 50px;
    background: #F5F5F5;
    position: relative;
    padding-top: .5em;
    border-bottom: 1px solid #E5E5E5;
    text-decoration: none;
    color: #333;
    line-height: 20px;
}

/*Currently affecting all href links on the page*/
.left-nav-item a:link {
    text-decoration: none;
    color: #333;
    font:13px / 1.4 Helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

/*after link has been click it stays the same*/
.left-nav-item a:visited {
    color: #333;
}

/*Hovers*/
.left-nav-item a:hover {
    color: #51a7e8;
}

.mega-octicon:hover {
    color: #51a7e8;
}

.octicon-octoface {
    color: #333;
}
.octicon-octoface:hover {
    color: #51a7e8;
}

.octicon-bell:hover {
    color: #51a7e8;
}

.octicon-plus:hover {
    color: #51a7e8;
}


.octicon-triangle-down:hover{
    color: #51a7e8;
}

.header-container: {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    padding-left:5em auto;
    padding-right:5em auto;
}

.header-logo {
    font-size: 28px;
    margin-left: .2em;
    margin-top: -.2em;
    padding: .2em;
    float: left;
}

.header-logo:hover {
    color: #51a7e8;
}

.site-search {
    padding: 4px 15px 2px 15px;
    margin-top: .5em;
    width: 320px;
    display: inline-block;
    font-size: 12px;
    box-shadow: inset 2px;
    box-sizing: border-box;
}

/*When you click the search input box*/
.site-search:focus {
    border:1px solid #51a7e8;
    box-shadow: none;
}

.header-nav-item:hover {
    color: #51a7e8;
}

.left-nav-item {
    display: inline-block;
    margin-left: 1em;
}

.right-nav-item {
    display: inline-block;
    padding: .2em;
}

.header-nav-left {
    margin-left: 28em;
    margin-top: -1.5em;
}

.header-nav-right {
    float:right;
    margin-top: -1.8em;
    margin-right: .8em;
}

.footer-container {
    border-top: 1px solid #E5E5E5;
    line-height: 50px;
}

/*still behaving like the other links. Need to overide*/
.site-footer-links a:link {
    color: #4078c0;
    font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 2em;
        margin-left: 25px;
}

.site-foooter-links-left {
    padding-left: 50px;
    margin-left: 50px;
}

.footer-links-info {
    color:#767676;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
    float: left;
    margin-top: 2em;
}

.footer-links-left a:link {
    display: inline-block;
    float:left;
    padding: .1em;
    margin-left: 1em;
}

.footer-links-left a:visited {
    color: #4078c0;

}

.footer-links-left a:hover {
    color: #4078c0;
    text-decoration: underline;
}

.footer-links-right a:link {
    display: inline-block;
    float:left;
    padding: .1em;
    margin-left: 1em;
}

.footer-links-right a:visited {
    color: #4078c0;
}

.footer-links-right a:hover {
    color: #4078c0;
    text-decoration: underline;
}

.footer-links-right {
    display:inline-block;
    float:right;
    padding: .1em;
}

.bottom-logo {
    color:#999999;
    bottom: 28px;
}

.octicon-triangle-down {
    font-size: 5px;
    padding: .2em;
}


/*------------
  grid setup
------------*/

/*columns stay next to each other*/
[class*='col-'] {
  float: left;
}
/*set wdith of header to 100% of grid*/
.header-column {
    width: 980px;
    margin-right: auto;
    margin: auto;
}

/* set width of first column to 1/4 of gid */
.col-1-4 {
  width: 26%;
  /*border: 1px dashed #000;*/
}

/* set width of second column to 3/4 of gid */
.col-3-4 {
  width: 74%;
  border: 1px dashed #000;
}


/* clear fix -
    prevent parent element from collapsing to zero height since it
    has only floated children */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/*---------------
  end grid setup
/*---------------
  gutter setup
---------------*/

/* when we set a width, that element stays that width, despite padding or borders
being applied.*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 /* apply fixed padding to the left and right side of all columns */
[class*='col-'] {
  padding-right: 10px;
  padding-left: 10px;
}

.main-content {
  padding-top: 20px;
  width: 980px;  /* GitHub is not reponsive */
  margin-right: auto;
  margin-left: auto;
}

/*-----------------
  end gutter setup
-----------------*/

a {
  color: #4078c0;
  text-decoration: none;
  background-color: transparent;
}

body {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: block;
  min-width: 1020px;
  word-wrap: break-word;
}

h1 {
  font-size: 30px;
}

ul {
  list-style: none;
  /*border: 1px dashed #000;*/
}

.user-stats {
  display: block;
  height: 70px;
  margin-bottom: 12px;
  /*border: 1px dashed red;*/
}

.user-stat-link {
  display: block;
  position: relative;
  float: left;
  width: calc(100% / 3);
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  /*border: 1px dashed #000;*/
}

.user-stat-value {
  color: #4078C0;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.text-muted {
  color: rgb(98, 98, 98);
}

.text-muted:hover {
  color: #4078C0;
}

.user-info-link:hover {
  text-decoration: underline;
}

.pad-top-bottom {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.border-top {
  border-top: 1px #E5E5E5 solid !important;
}

.border-bottom {
  border-bottom: 1px #E5E5E5 solid !important;
}

.pad-li {
  text-align: -webkit-match-parent !important;
  display: block !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.user-info {
  font-size: 14px;
}

.pos-relative-a {
  position: relative !important;
}

.dis-block {
  width: 230px;
  height: 230px;
  display: block !important;
}

.user-info .octicon {
  color: rgb(135, 135,135) !important;
}

.user-h1 {
  width: 230px;
  line-height: 1;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.full-name {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
}

.user-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666666;
}

.octocat-image {
  width: 230px;
  height: 230px;
}

.rounded {
    border-radius: 6px !important;
}

.tab-link {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  /*background-color: transparent;*/
  border: 1px solid transparent;
  border-bottom: 0;
}

.tabs {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #DDD;
}

.clicked-tab {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #FFF;
  margin-bottom: -1px;
}

.button-wrapper {
  height: auto;
  float: right;
  /*border: 1px dashed red;*/
}

.follow-btn {
  display: inline-block;
  position: relative;;
  color: #FFF;
  font-weight: bold;
  padding: 3px 10px;
  background-image: linear-gradient(#8ADD6D, #60D044);
  border-radius: 3px;
  border: 1px solid #5CA941;
  vertical-align: middle;
  margin-top: 5px;
  margin-right: 4px;
  cursor: pointer;
}

.select-btn {
  position: relative;
  display: inline-block;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 4px
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #EEE;
  background-image: linear-gradient(#FCFCFC, #EEE);
  border: 1px solid #D5D5D5;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: 4px;
}
